.home-container {
  height: 100vh;
}

.header-home {
  display: flex;
  padding: 1rem 3rem;
  align-items: center;
  justify-content: space-between;
  color: white;
  background-color: #1c1c2a;
}

.title-header {
  font-size: 2rem;
  cursor: default;
}

.nav-container {
  display: flex;
  gap: 3rem;
}

.nav-link {
  text-decoration: none;
  color: white;
  transition: 0.2s ease;
  font-size: 1.2rem;
}

.nav-link:hover {
  color: #9ca3af;
}

.hero {
  display: flex;
  flex-direction: column;
  margin: 10%;
  align-items: center;
}

.title-hero {
  font-size: 8rem;
  display: flex;
}

.first {
  color: #6d28d9;
}

.second {
  color: #7c3aed;
}

.subtitle-hero {
  font-size: 2.5rem;
  font-weight: 400;
}
