table {
  border-collapse: collapse;
  width: 100%;
}

tr {
  display: flex;
  justify-content: space-between;
  text-align: left;
}

th,
td {
  text-align: left;
  font-size: 14px;
  border: none;
}

th {
  font-weight: 600;
  font-size: 14px;
}