.container-login{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.backto-btn {
  position: absolute;
  top: 2rem;
  left: 2rem;
  text-decoration: none;
  color: white;
  background-color: #6D28D9;
  width: 12rem;
  text-align: center;
  align-content: center;
  height: 2rem;
  border-radius: 8px;
  font-size: 18px;
  transition: 0.2s ease;
}

.backto-btn:hover {
  background-color: #7C3AED;
  transform: translateY(-2px);
  cursor: pointer;
  box-shadow: 0px 1px 12px rgba(167, 139, 250, 0.4);
}

.form-login {
  background-color: #242438;
  width: 30rem;
  height: 30rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem;
  gap: 5rem;
  border-radius: 16px;
  box-shadow: 0px 1px 12px rgba(167, 139, 250, 0.4);

}

.login-form-input {
  width: 25rem;
  height: 2rem;
  padding: 1rem;
  font-size: 20px;
  border-radius: 8px;
  border: none;
}

.login-btn {
  width: 12rem;
  height: 3rem;
  border: none;
  font-size: 24px;
  border-radius: 12px;
  background-color: #7C3AED;
  color: white;
  transition: 0.2s ease;
}

.login-btn:hover {
  box-shadow: 0px 1px 12px rgba(167, 139, 250, 0.4);
  transform: translateY(-2px);
  cursor: pointer;
}
