.container-register {
    display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form-register {
  background-color: #242438;
  width: 30rem;
  height: 30rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem;
  gap: 4rem;
  border-radius: 16px;
  box-shadow: 0px 1px 12px rgba(167, 139, 250, 0.4);
}

.register-form-input {
  width: 25rem;
  height: 1rem;
  padding: 1rem;
  font-size: 20px;
  border-radius: 8px;
  border: none;
}

.register-btn {
   width: 12rem;
  height: 3rem;
  border: none;
  font-size: 24px;
  border-radius: 12px;
  background-color: #7C3AED;
  color: white;
  transition: 0.2s ease;
}

.register-btn:hover {
   box-shadow: 0px 1px 12px rgba(167, 139, 250, 0.4);
  transform: translateY(-2px);
  cursor: pointer;
}