.top-header-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: #242438;
}

.greet-text {
  font-size: 32px;
  margin: 0.4rem 1rem 0;
}

.subtitle-top-header {
  font-size: 28px;
  margin: 0 1rem 0.4rem;
}

.btn-edit-user {
  text-decoration: none;
  text-align: center;
  border: none;
  border-radius: 3px;
  background-color: #7c3aed;
  color: white;
  width: 120px;
  transition: 0.2s ease;
  position: absolute;
  right: 12%;
  top: 2%;
}

.btn-edit-user:hover {
  background-color: #8b5cf6;
  cursor: pointer;
}
